*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.hero {
    background-color: rgb(15, 111, 202);
    color: white;
}

.nav {
    width: 800px;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
}



ul{
    display: flex;
    column-gap: 25px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    font-family: arial;
}

.rapture {
    width:15vh;
    font-family: arial;
}

 

.shop {
    padding: 20px;
    
}

.kalata {
    cursor: pointer;
}

.profile {
    margin-left: 40px;
    cursor: pointer;
}

.menu-burger {
    display: none;
    width: 60px;
    height: 60px;
}

.cont {
    display: flex;
    justify-content: end;
    width: 98%;

   
}

.lab {
    position: absolute;
    width: 37rem;
    height: 120vh;
    bottom: -20vh;
    background: linear-gradient(180deg, #CA0200 46.19%, rgba(180, 72, 117, 0.541667)
    81.08%, rgba(153, 154, 255, 0) 122.31%);
    transform: rotate(90deg);
    border-radius: 320.5px;
    
}



.botase {
position: absolute;
width: 600px;
height: 600px;
}

#roblox-img {
    position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 400px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}


@media screen and (max-width: 710px) {
    .nav {
        padding: 0;
     }
        .menu-burger {
        display: block;
        position: relative;
        left: -150px;
     }
        .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(31, 31, 69);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5 ease;
        transition: 0.5s;
    }

    .searche {
        display: block;
    }
    
    .nav-links:hover {
        transition: 0.5s;
    }
    
    
    .nav-links.mobile-menu {
        margin-left: 0;
        
    }
    
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav ul li {
    margin: 25px 0;
    font-size: 2rem;
    }

    

    .search-box:hover > .search-txt {
        width: 120px;
        padding: 0 6px;
        }

    .rapture {
        margin-left: 30px;
    }

    .hero {
        background-color: rgb(15, 111, 202);
        width: 155vh;
        color: white;
    }

}


@media screen and (max-width: 600px) {
    .nav {
        padding: 0;
     }
        .menu-burger {
        display: block;
        position: relative;
        left: -130px;
     }
        .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(31, 31, 69);
        width: 53vh;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -55vh;
        transition: all 0.5 ease;
        transition: 0.5s;
    }

    .searche {
        display: block;
    }
    
    .nav-links:hover {
        transition: 0.5s;
    }
    
    
    .nav-links.mobile-menu {
        margin-left: 0;
        
    }
    
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav ul li {
    margin: 25px 0;
    font-size: 2rem;
    }

    

    .search-box:hover > .search-txt {
        width: 120px;
        padding: 0 6px;
        }

    .rapture {
        margin-left: 30px;
    }

    .hero {
        background-color: rgb(15, 111, 202);
        width: 155vh;
        color: white;
    }

}


@media screen and (max-width: 500px) {
    .nav {
        padding: 0;
     }
        .menu-burger {
        display: block;
        position: relative;
        left: -150px;
     }
        .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(31, 31, 69);
        width: 53vh;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -55vh;
        transition: all 0.5 ease;
        transition: 0.5s;
    }

    .searche {
        display: block;
    }
    
    .nav-links:hover {
        transition: 0.5s;
    }
    
    
    .nav-links.mobile-menu {
        margin-left: 0;
        
    }
    
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav ul li {
    margin: 25px 0;
    font-size: 2rem;
    }

    

    .search-box:hover > .search-txt {
        width: 120px;
        padding: 0 6px;
        }

    .rapture {
        margin-left: 30px;
    }

    .hero {
        background-color: rgb(15, 111, 202);
        width: 155vh;
        color: white;
    }

}


@media screen and (max-width: 460px) {
    .nav {
        padding: 0;
     }
        .menu-burger {
        display: block;
        position: relative;
        left: -200px;
     }
        .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(31, 31, 69);
        width: 53vh;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -55vh;
        transition: all 0.5 ease;
        transition: 0.5s;
    }

    .searche {
        display: block;
    }
    
    .nav-links:hover {
        transition: 0.5s;
    }
    
    
    .nav-links.mobile-menu {
        margin-left: 0;
        
    }
    
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav ul li {
    margin: 25px 0;
    font-size: 2rem;
    }

    

    .search-box:hover > .search-txt {
        width: 120px;
        padding: 0 6px;
        }

    .rapture {
        margin-left: 30px;
    }

    .hero {
        background-color: rgb(15, 111, 202);
        width: 155vh;
        color: white;
    }

}


@media screen and (max-width: 400px){
    .nav {
        padding: 0;
     }
        .menu-burger {
        display: block;
        position: relative;
        left: -420px;
     }
        .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(31, 31, 69);
        width: 46vh;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -57vh;
        transition: all 0.5 ease;
        transition: 0.5s;
    }

    .searche {
        display: block;
    }
    
    .nav-links:hover {
        transition: 0.5s;
    }
    
    
    .nav-links.mobile-menu {
        margin-left: 0;
        
    }
    
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav ul li {
    margin: 20px 0;
    font-size: 1rem;
    }
    
    .nav ul li a {
        margin-left: -120px;
    }

    .login {
        margin-left: 80px;
        border-radius: 20px;
        background-color: #00C851;
        border: none;
        cursor: pointer;
    }

    .login:hover {
        opacity: 0.70;
    }

    

    .search-box:hover > .search-txt {
        width: 120px;
        padding: 0 6px;
        }

    .rapture {
        margin-left: 30px;
    }

    .hero {
        background-color: rgb(15, 111, 202);
        width: 150vh;
        color: white;
    }

}







